            @import 'variables';

.test {
    background-color: red;
    font-size: 10px;
}

h1 {
    color: $red-color;
}

.avatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkboxs-select {
    width: 160px;
    margin: 0 14px;
}